@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Jeong, Chan Myeong 070601~070630
*/

/* Eond Start Skin - Start */
#selectLang { margin:0; padding:0; }
#gnb { margin:0; padding:0; }
#lnb { margin:0; padding:0; }
#lnb ul { margin:0; padding:0; }

/* Site Layout - Body Wrap */
body { background: url(../images/start/bg_all_gray.gif) no-repeat center -233px ;}
#bodyWrap { position:relative; width:980px; margin:0 auto; padding:0;}


/* Site Layout - Header */
#header { position:relative; width:980px; height:155px; background:url(../images/start/bgHeader.gif) repeat-x left bottom; margin-bottom:0px; z-index:99;padding:0;} /* gnb top과 연관됨 */
#header h1 { position:absolute; top:21px; left:100px;} /* 로고 위치 top:0px; left:160px; #isSearch의 left와 연관됨; noe top:28px; left:260px;*/
#language { position:absolute; top:12px; right:19px; z-index:100;}
#language strong { color:#5c5c5c; font:.75em Tahoma; margin-right:3px;}
#language a img { vertical-align:-5px;}
#language ul { position:absolute; top:15px; right:0px; display:none; border:1px solid #d9d9d9; background:#ffffff;}
#language ul li { list-style:none; }
#language ul li a { display:block; width:61px; padding:3px 8px; font:9px Tahoma; color:#5c5c5c; text-decoration:none;}
#language ul li a:hover { background:#f4f4f4;}

#it_search_form { position:absolute; top:50px; right:15px;}
#it_search_form .input { border:1px solid #d9d9d9; height:17px; width:120px; color:#888888; font-size:.9em;}
#it_search_form .submit_button { width:1px; height:1px; visibility:hidden; }

#gnb { position:absolute; top:111px; left:0; height:42px; overflow:hidden; white-space:nowrap; margin-bottom:10px;width:979px;border-right:1px solid #CDCFDA;border-left:1px solid #CDCFDA;}
#gnb li { list-style:none; float:left; background:url(../images/white/bgGnbVr.gif) no-repeat left center; padding-left:10px; position:relative; left:-2px; white-space:nowrap;}
#gnb li a { display:block; float:left; padding:15px 15px 0 15px; height:25px; color:#777; white-space:nowrap; text-decoration:none; font-size:11px;font-family:"돋움", dotum, Verdana;}
#gnb li a:hover,
#gnb li a:focus { color:#2E9FC4;}
#gnb li.on a { color:#2E9FC4; background:url(../images/start/bgGnbOn.gif) no-repeat center top;;} /* color:#4F9CAC; */

/* 검색창 */
#isSearch { position:absolute; top:50px;left:335px;width:380px; text-align:left;border:0px solid blue;z-index:-1;} /* 위치, 100%로 설정하면 레이아웃을 벗어남(보이지는 않지만 창 크기를 줄이면 스크롤이 나타남 */
#isSearch .searchOrder { display:none;}
#isSearch .checked { position:absolute; left:0; top:0; text-align:left; display:block; padding:5px 0 0 5px; width:64px; height:14px; background:url(../images/start/bgSearchTerm.gif) no-repeat; font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#5c5c5c; line-height:normal;}
#isSearch ul { display:none; position:absolute; left:0; top:18px; padding:2px 0 3px 0; text-align:left; border:1px solid #b2b2b2; background:#ffffff; overflow:hidden;}
#isSearch ul li { width:67px; height:18px; list-style:none;}
#isSearch ul li input { display:none;}
#isSearch ul li label { display:block; padding:4px 0 0 4px; width:63px; height:15px; font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#5c5c5c;}
#isSearch ul li label.on { background:#ededed; }
#isSearch ul li label:hover,
#isSearch ul li label:focus { background:#ededed;}

/* 검색창 모양 (#67C8DC #6CB9DA / #94B8C9 / #CDCFDA #CFDCFA / #5DC0F6 )*/
#isSearch .inputText {
vertical-align:middle; position:relative; top:0; _top:-1px; left:0px; padding:3px 3px 1px 5px; width:280px; height:20px;
border:4px solid #67C8DC; background-color:#FFFFFF;  font-family:돋움;font-weight:bold;color:#4d4d4d;font-size:11pt;letter-spacing:-0.5px;
}
#isSearch .inputText:hover,
#isSearch .inputText:focus {background-color:#FAFAFA;}
*:first-child+html  #isSearch .inputText { position:relative; top:-1px;}
#isSearch .submit { vertical-align:middle; _position:relative; _top:-1px;margin-left:3px;}
*:first-child+html #isSearch .submit { position:relative; top:-1px;}

/* 미투데이 위젯 */
.me2day {position:relative:text-align:center;width:250px;padding:0 auto;margin:-35px 0 0 10px;z-index:-99;}

/* 애드센스 */
#ad_top {display:none;}
.ad {background: url(../images/bg_ad.gif) no-repeat center center;}

.ad_raonnet {width:200px;height:60px;border:1px solid #E3E3E3;float:left;border-right:0;margin-right:0px;background:#FAFAFA;border-top:0;display:none;}
.ad_text {color:#6B6D70;width:200px;padding-left:0px;padding-top:15px;height:100%;font-size:11px;font-family:돋움;text-align:center;letter-spacing:1px;}
.ad_468 {width:468px;height:60px;border:1px solid #E3E3E3;float:left;border-top:0;}

.ad_728 {width:728px;height:90px;border-bottom:1px solid #E3E3E3;float:left; background:#FAFAFA;} /* */
.ad_250 {width:250px;height:250px;border-bottom:1px solid #E3E3E3;float:left;}

.ad_336 {width:336px;height:280px;border:1px solid #DDD;float:right;}
.ad_300 {width:300px;height:250px;border:1px solid #DDD;float:right;}

.ad_sky {position:absolute;top:150px; left:-75px;} /*right:0px;top:150px;*/

.ad_left {position:absolute;top:150px; left:-80px;background:url("/images/banners/poem_furnace.gif") no-repeat;width:100px;height:100px;}
.ad_right {position:absolute;top:150px; right:-126px;}

#sky_banner {position:absolute; top:0; left:-75px;}

.bn {text-align:center;padding:5px;border-bottom:1px solid #F0F0F0;z-index:99;}

/* Site Layout - Content Body */
#contentBody { position:relative; width:981px; padding-bottom:0px; overflow:hidden; background:url() no-repeat left top; border-bottom:1px solid #dddddd;}

/* Site Layout - Column Left */
#columnLeft { position:relative; width:250px; float:right;border-right:1px solid #E3E3E3;border-left:1px solid #E3E3E3;} /* 초기 넓이 201px*/
#columnLeft .mask { width:250px; height:5px; background:#ffffff; display:block;}

#lnb { border-top:1px solid #dddddd; padding:4px 5px; width:190px;}
#lnb li { list-style:none; padding-bottom:4px;}
#lnb li a { padding:6px 5px 6px 13px; width:170px; display:block; border:1px solid #e8e8e8; background:url(../images/white/bgLnbOff.gif) repeat-x; color:#3e3e3e; position:relative; z-index:99; text-decoration:none;}
#lnb li a:hover,
#lnb li a:focus { color:#ffffff; background:#de4332; border:1px solid #de4332;}
#lnb li.on a { color:#ffffff; background:#de4332; border:1px solid #de4332;}
#lnb li.on a:hover,
#lnb li.on a:focus { font-weight:bold;}
#lnb li ul { display:block; position:relative; width:184px; padding:0 3px; position:relative; border-top:1px solid #ffffff; overflow:hidden;}
#lnb li.on ul { display:block;}
#lnb li ul li { padding:0; border-top:1px solid #f2f2f2; position:relative; top:-1px;}
#lnb li ul li a { padding:6px 5px 6px 10px; width:169px; color:#818181 !important; border:none; background:none !important; border:none !important;}
#lnb li ul li a:hover,
#lnb li ul li a:focus { font-weight:normal !important; color:#de4332 !important;}
#lnb li.on ul li.on a { color:#ff1a00 !important; font-weight:bold !important; background:url(../images/white/bulletLnb.gif) no-repeat 175px center  !important;}

/* Site Layout - Column Right */
#columnRight { width:728px; float:left; overflow:hidden;border-left:1px solid #E3E3E3;} /* 770px */
#visualArea { width:728px; height:200px; background:#f5f5f5; margin-bottom:2.5em; position:relative; }
#content { width:100%; overflow:hidden;} /* 9 차이 */
#columnRight .mask { width:100%; height:5px; background:#ffffff; display:block;}

/* Site Layout - Footer */
#footer { margin:0; padding:0; border-top:3px solid #f4f4f4; text-align:center; padding:2em 0 4em; clear:both;}
#footer li { display:inline; padding:0 .6em 0 1em; background:url(../images/white/vrType1.gif) no-repeat left center;}
#footer li.first-child { background:none;}
#footer li a { color:#999999; font:.9em "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
#footer li address { display:inline; }

/* White Skin - End */

/* 위젯 스타일 */
.eondWidgetStyle { position:relative;border-top:1px solid #FFF;border-bottom:1px solid #F0F0F0;margin-top:0px;margin-bottom:0px;padding-left:10px;overflow:hidden; *zoom:1;font-family:"돋움", Dotum, "굴림";background:#FAFAFA;padding-bottom:5px;}
.eondWidgetStyle h2 {font-size:13px;margin:10px;color:#434343;letter-spacing:-0.1em;}
.eondWidgetStyle li {line-height:160%;background: url(../images/bulletD0.gif) no-repeat 5px 8px;}
.eondWidgetStyle li a{color:#555555;margin:4px;font-size:8pt;padding-left:10px;}